#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  color: #474649;
  font-family: 'Outfit';
  font-weight: 400;
  letter-spacing: .05rem;
}

header {
  text-align: center;
  margin: 40px 0px;
}

div {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

label,
p,
form,
input, span {
  font-size: 1.3rem;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.total-label {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: .05rem;
}

input {
  width: 50%;
  border: none;
  border-bottom: 3px solid transparent;
  height: 1.3rem;
  margin: 0px 5px;
  padding: 8px 0px;
  color: #8332D9;
  font-family: 'Outfit';
  font-weight: 400;
}

.money-input {
  width: 20%;
  margin: 30px 5px;
  color: #474649;
}

.income-input {
  font-size: 1.5rem;
}

.outgoing-separator {
  margin-left: 1%;
  margin-right: 7%
}

input:focus, input:hover {
  outline: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, #8332D9 2%, rgb(251, 88, 164) 98%) 1;
}

input::placeholder {
  font-style: italic;
  color: #adabb5;
  font-family: 'Outfit';
  font-weight: 200;
}

.outgoing-row {
  border-bottom: 1px solid #ece9f6;
}

button {
  border-radius: 50%;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  color: white;
  background-color: #8332D9;
  margin: 50px 0px 20px 0px;
}

button:hover {
  box-shadow: 0px 0px 6px 4px #adabb5;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px 3px 2px #76757c;
  background-color: #6324a7;
}

.delete-button {
  font-size: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #adabb5;
  margin: 5px;
  vertical-align: super;
}

.delete-button:hover {
  box-shadow: 0px 0px 2px 1px #adabb5;
}

.total-money {
  display: inline;
  color:#8332D9;
  font-size: 1.5rem;
  font-weight: 500;
}

.delete-button:active {
  box-shadow: 0px 0px 2px 1px #76757c;
  background-color: #57565a;
}

.invalid-money, .invalid-money:focus, .invalid-money:hover {
  color: red;
  border-image: none;
  border-bottom: 3px solid red;
}
